body {
	width: 100vh;
	height: 100vh;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	background-color: #22223b;
	color: #f2e9e4;
	font-family: "Ubuntu", sans-serif;
}

.main {
	width: 100vh;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
